/* .navbar{
  justify-content: space-between;
  position: sticky !important;
  color: white;
  width: 100%;
  background-image: url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);
  top: 0px;
  overflow: hidden;
  background-size: cover;
  z-index: 9999;
  
}
span{
  padding-right: 1rem;
}

html{
  height: 100vh !important;;
  width: 100vw!important;
  background-image:url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);
  background-size:contain;
  

}
body{
  background-image:url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);
} */


.mat-toolbar{
height: 9vh;  
justify-content: space-between;
  position: sticky !important;
  color: white;
  width: 100%;
  background-image: url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);
  top: 0px;
  overflow: hidden;
  background-size: cover;
  z-index: 9999;
  
}
.companyName{
  font-size: 150%;
}
div {
  overflow: inherit;
}

.mat-sidenav-container{
  background-size:contain;
  background-attachment: fixed!important;

  width:100vw!important;
  height: 100vh !important;
  /* min-height: 91vh !important; */
 /* padding-top: 20px; */
 /* margin-top: -9px; */
  background-image:url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);

   /* background-position: unset!important; */
   /* background-size:contain; */
 
 
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 110%;
  /* min-width: min-content; */
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
  /* background-image: url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=); */
    /* font-size: 200%; */
    color:white;
    text-align: center;
}
.mat-sidenav{
  color:white;
  background-image: url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);
}
/* html{
  background-image:url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);
  background-size:contain;
  height: 100vh !important;
  width: 100vw!important;
} */