.navbar{
  justify-content: space-between;
  position: sticky !important;
  color: white;
  width: 100%;
  background-image: url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);
  top: 0px;
  overflow: hidden;
  background-size: cover;
  z-index: 9999;
}
span{
  padding-right: 1rem;
}
html{
  /* background-color:blue; */
  background-image:url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);
     background-size:contain;
     height: 100vh !important;;
     width: 100vw!important;
}

  /* border:2px solid blue; */
  /* https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg&ga=GA1.2.1910369033.1652325599 */
  /* background-image:url(https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg&ga=GA1.2.1910369033.1652325599); */
.form-container {
  margin-top: 100px;
  /* max-width: 350px; */
  /* width: 100%; */
  /* height: 50%; */
  justify-content: center;
  display:flex;


  /* border:1px solid black; */
}

form {
  /* height:100%; */
  /* width:30%; */
  display: flex; 
  /* border:2px solid blue; */
  justify-content: center ;
  flex-direction: column;
}

.error {
  background-color: #d84f4f;
  padding: 10px;
}

.success {
  background-color: #73cc73;
  padding: 10px;
}