<html>
  <div> 
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <a mat-button class="companyName" routerLink="/">
        <span>Movie Mix</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/user/home">Home</a>
        <a mat-button routerLink="/user/login">Login</a>
        <a mat-button routerLink="/user/register">Register</a>
      </div>
  
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <a mat-button routerLink="/user/home">Home</a>
        <a mat-button routerLink="/user/login">Login</a>
        <a mat-button routerLink="/user/register">Register</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
  
    

<div class="form-container">
<mat-card class="bg-card mat-elevation-z19">
  <form (submit)="register()" class="border border-primary">
    <mat-form-field>
      <input [(ngModel)]="username" name="username" matInput placeholder="Your UserName" type="text" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="email" name="email" matInput placeholder="Your Email" type="email" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="password" name="password" matInput placeholder="Your Password" type="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary">Register</button>
  </form>
</mat-card>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
</div>
<router-outlet></router-outlet>
</html>