<html>
<mat-toolbar color="primary" class="navbar">
  <div>Movie Mix</div>
  <div>
    <span class="HomePage" style="cursor: pointer;" routerLink="/user/home">Home</span>
    <span class="LoginPage" style="cursor: pointer;" routerLink="/user/login">Login</span>
    <span class="RegisterPage" style="cursor: pointer;" routerLink="/user/register">Register</span>
  </div>

</mat-toolbar>

<div class="form-container">
<mat-card class="bg-card mat-elevation-z19">
  <form (submit)="register()" class="border border-primary">
    <mat-form-field>
      <input [(ngModel)]="username" name="username" matInput placeholder="Your UserName" type="text" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="email" name="email" matInput placeholder="Your Email" type="email" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="password" name="password" matInput placeholder="Your Password" type="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary">Register</button>
  </form>
</mat-card>
</div>
<router-outlet></router-outlet>
</html>