
<!-- <div class="home">
  <div class="logo">
      Home
  </div>
  <nav>
      <div class="homepage-items">
         
          <button class="homepage-item" routerLink="/user/login">login</button>
          <button class="homepage-item" routerLink="/user/register">register</button>
          </div>
  </nav>
</div> -->
<!-- <mat-checkbox>subscribe to news</mat-checkbox> -->
<!-- <mat-slider min="67" max="300" step="8" value="500"></mat-slider> -->
<!-- <app-showtime-list></app-showtime-list> -->
<!-- <app-home></app-home> -->
<!-- <app-seats-booking></app-seats-booking> -->
<!-- <app-cards></app-cards> -->
<!-- <app-showtime-list></app-showtime-list> -->
<html>
  <!-- <app-movies></app-movies> -->
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>
</html>