<html>
<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName">
      <span>Movie Mix</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink='/user/show'>Book</a>
      <a mat-button routerLink='/details'>My Bookings</a>
      <a mat-button routerLink="/user/home" (click)="ser.LogOut()">LogOut</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink='/user/show'>Book</a>
        <a mat-button routerLink='/details'>My Bookings</a>
        <a mat-button routerLink="/user/home" (click)="ser.LogOut()">LogOut</a>
      </div>
    </mat-sidenav>
    <!-- <mat-sidenav-content fxFlexFill> -->
  

    <!-- <mat-toolbar color="primary" class="navbar" style="position:static;">
    <div>Movie Mix</div>
    <div>
      <span routerLink='/user/show' style="cursor: pointer;">Book</span>
      <span routerLink='/details' style="cursor: pointer;">My Bookings</span>
      <span class="HomePage"  style="cursor: pointer;" routerLink="/user/home" (click)="ser.LogOut()">LogOut</span>
    </div>
 
  </mat-toolbar> -->

    <div class="content">
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let c of book">
          <mat-card class="example-card mat-elevation-z19">
            <mat-card-header>
              <img mat-card-avatar class="example-header-image" src="{{c.movieId.image}}">
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>{{c.movieId.title}}</mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <!-- <img mat-card-image class="imgs" src="{{c.image}}" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                Cinema: {{c.cinemaId.name}}<br>
                No of Seats: {{c.seats}}<br>

                Seats Booked: {{c.seatNames}}<br>
                
                Total cost: {{c.total}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-button>LIKE</button> -->
              <button mat-button (click)="Delete(c._id)">Delete</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    
  <!-- </mat-sidenav-content> -->
</mat-sidenav-container>
</div>

</html>