<div class="form-container" *ngIf="this.ser.seatAdd">
    <!-- <mat-card class="bg-card mat-elevation-z19"> -->
    <form class="border border-primary">
      <div mat-dialog-title>
        Add New Seat
      </div>
      <mat-dialog-content>
        <mat-form-field>
          <input [(ngModel)]="seatNum" name="seatNum" matInput placeholder="Seat Number" type="text" required>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="isSelected" name="isSelected" matInput placeholder="Is Selected?" type="text">
  
        </mat-form-field>
       
       
  
  
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-raised-button  mat-dialog-close (click)="AddSeat()" color="primary">ADD</button>
      </mat-dialog-actions>
    </form>
    <!-- </mat-card> -->
  </div>
  
  <div class="form-container" *ngIf="this.ser.seatEdit">
    <!-- <mat-card class="bg-card mat-elevation-z19"> -->
    <form class="border border-primary">
      <div mat-dialog-title>
        Edit Seat
      </div>
      <mat-dialog-content>
        
        <mat-form-field>
            <input [(ngModel)]="seatNum" name="seatNum" matInput placeholder="Seat Number" type="text" required>
          </mat-form-field>
          <mat-form-field>
            <input [(ngModel)]="isSelected" name="isSelected" matInput placeholder="Is Selected?" type="text" required>
    
          </mat-form-field>
  
  
  
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-raised-button  mat-dialog-close  (click)="editSeat()" color="primary">ADD</button>
      </mat-dialog-actions>
    </form>
    <!-- </mat-card> -->
  </div>
  <div class="delete" *ngIf="this.ser.seatDelete">
    <!-- <h2 mat-dialog-title>Confirmation</h2> -->
  <mat-dialog-content>Are you sure to Delete</mat-dialog-content>
  <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="deleteSeat()" mat-dialog-close mat-dialog-close="Ok">Confirm</button>
      <button mat-raised-button  mat-dialog-close mat-dialog-close="No">Cancel</button>
  </mat-dialog-actions>
    </div>
  