/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
html, body {  background-image: url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);
    background-size:contain;
    background-attachment: fixed!important;

    width:100vw!important;
    height: 100vh !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.navbar{
    justify-content: space-between;
    position: sticky !important;
    color: white;
    width: 100%;
    background-image: url(https://media.istockphoto.com/photos/blue-stage-curtain-texture-background-picture-id1134297145?k=20&m=1134297145&s=612x612&w=0&h=dX-vFP3QRoCedFb30DSydeDS0EWXrHukX8_nAqGGXgE=);
    top: 0px;
    overflow: hidden;
    background-size: cover;
    z-index: 9999;
  
      
    }