<html>
<!-- <mat-toolbar color="primary" class="navbar" style="position:static;">
    <div>Movie Mix</div>
    <div>
      <span routerLink='/user/show' style="cursor: pointer;">Book</span>
      <span routerLink='/details' >My Bookings</span>
      <span class="HomePage" routerLink="/user/home" (click)="ser.LogOut()">LogOut</span>
    </div>
  
  </mat-toolbar> -->
<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>Movie Mix</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink='/user/show'>Book</a>
      <a mat-button routerLink='/details'>My Bookings</a>
      <a mat-button routerLink="/user/home" (click)="ser.LogOut()">LogOut</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink='/user/show'>Book</a>
        <a mat-button routerLink='/details'>My Bookings</a>
        <a mat-button routerLink="/user/home" (click)="ser.LogOut()">LogOut</a>
      </div>
    </mat-sidenav>
    <!-- <mat-sidenav-content fxFlexFill> -->



      <div class="content">
        <mat-card class="example-card">
          <ng-container *ngFor="let c of show; let i = index">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title *ngIf="i == 0">{{c.movieId.title}}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>

            <!-- <mat-card> -->
            <mat-card-content>
              <div fxLayout="row" fxLayoutAlign="space-around">
                <div *ngIf="i == 0" fxLayout="row" fxLayoutAlign="space-evenly">

                  <img mat-card-image *ngIf="i == 0" class="imgs" src="{{c.movieId.image}}" alt="Photo of a Shiba Inu">
                  <div style="padding-left:50px;">
                    Cast<br>Director<br>Description<br><br>Duration<br>Genre

                  </div>
                  <div style="padding-right:10px">

                    :<br>:<br>:<br><br>:<br>:

                  </div>

                  <div>

                    {{c.movieId.cast}}<br>{{c.movieId.director}}<br>{{c.movieId.description}}<br>{{c.movieId.duration}}<br>{{c.movieId.genre}}
                  </div>
                </div>
              </div>
            </mat-card-content>
            <!-- </mat-card> -->
          </ng-container>
        </mat-card>
      </div>




      <div>
        <table mat-table [dataSource]="show" class="table mat-elevation-z8">
          <ng-container matColumnDef="startAt">
            <th mat-header-cell *matHeaderCellDef style="color:white"> ShowAt</th>
            <td mat-cell *matCellDef="let cine" style="color:white"> {{cine.startAt}} </td>
          </ng-container>
          <ng-container matColumnDef="seatsAvailable">
            <th mat-header-cell *matHeaderCellDef style="color:white"> seatsAvailable</th>
            <td mat-cell *matCellDef="let cine" style="color:white">{{cine.seatsAvailable}} </td>
          </ng-container>

          <ng-container matColumnDef="book">
            <th mat-header-cell *matHeaderCellDef style="color:white"> Book </th>
            <td mat-cell *matCellDef="let cine"><button (click)="book(cine._id)" mat-raised-button
                color="warn">Book</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let shows; columns: columns"></tr>
        </table>
      </div>
    <!-- </mat-sidenav-content> -->
  </mat-sidenav-container>
</div>

</html>